$bg-color: #ffffff;
$text-color: #39414b;
$accent-color: #5fbf77;

$sidebar-border-color: #cfcfe4;
$sidebar-active-text-color: #ffffff;

$shadow: 0px 10px 13px -4px rgba(#23235f, 0.19);

$transition-timing: 150ms;

$desktop-width: 903px;
$tablet-width: 708px;
$mobile-width: 513px;
